<% include partials/header.ejs %>

<h1>Teams</h1>
<a href="/teams/add">Add a Team</a>
<table class="table table-striped">
  <tr>
    <th>City</th>
    <th>Nickname</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Delete</th>
  </tr>
  <% for (var i = 0; i < teams.length; i++) { %>
    <tr>
      <td><%= teams[i].city %></td>
      <td><%= teams[i].nickname %></td>
      <td><%= teams[i].wins %></td>
      <td><%= teams[i].losses %></td>
      <td><a href="/teams/delete/<%= teams[i]._id %>">Delete</a></td>
    </tr>
  <% } %>
</table>
<% include partials/footer.ejs %>